body {
    background-color: black;
}

/* div.splash div.background {
    position: relative;
} */
div.splash {
    fill: #fff;
    position: relative;
}

div.splash div.background img {
    /* max-width: 100%; */
    /* max-width: 100vw; */
    width: 100vw;
    opacity: 0.6;
}

div.splash div.background div.gradient {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

div.splash div.contents {
    color: #fff;
    position: absolute;
    inset: 0;
    /* display: grid;
    align-items: center; */
    padding: 160px 0 0 55px;
}
div.splash div.contents h1 {
    margin: 0 0 10px 0;
    font-size: 60px;
    padding: 3px;
}
div.splash div.contents p {
    width: 400px;
}

.netflix-original-section h1,
.trending-now-section h1,
.wow-section h1 {
    margin-left: 10px;
    color: white;
}

.contents .buttons {
    display: flex;

    gap: 10px;
}

.contents .buttons .play {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    padding: 8px;
    border-radius: 5px;
}
.contents .buttons .play:hover {
    background-color: #cccccc;
}
.contents .buttons .play * {
    color: black;
}
.contents .buttons .play i {
    color: black;
    font-size: 1.3rem;
}
.contents .buttons .play span {
    font-size: 1rem;
}
.contents .buttons .detail {
    background-color: rgba(109, 109, 110);
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 8px;
    border-radius: 5px;
}
.contents .buttons .detail i {
    font-size: 1.3rem;
}
.contents .buttons .detail span {
    font-size: 1rem;
}
.contents .buttons .detail:hover {
    background-color: #cccccc;
}

.container {
    color: #fff;
    /* border: 3px solid aliceblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item {
    width: 299px;
    height: 168px;
    color: white;
    font-size: large;
    padding: 1rem;

    text-align: center;
    align-items: center;
}
